.carousel-indicators [data-bs-target] {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0;
}

.foot {
  position: relative;
  margin-top: 100px;
  /* negative value of footer height */
  height: 180px;
  clear: both;
  background-color: red;
}
